/**
 * Responsive grid system for LESS
 */

// Default values, mapped to 960px grid
// 80px width columns with => 10px + 60px + 10px
@columns: 12;
@content-width-px: 60;
@gutter-width-px: 20;
@gutter-width-half-px: @gutter-width-px / 2;
@column-width-px: @content-width-px + @gutter-width-px;
@gridsystem-width-px: @column-width-px * @columns;

// Convert widths to percentage values
@content-width: (@content-width-px / @gridsystem-width-px) * 100%;
@gutter-width: (@gutter-width-px / @gridsystem-width-px) * 100%;
@column-width: (@column-width-px / @gridsystem-width-px) * 100%;

// Get total width
@total-width: @columns * @column-width;

[class*="span"] {
	display: block;
	float: left;
}

.grid-responsive [class*="span"][class*="nogutters"],
.grid-set-width [class*="span"][class*="nogutters"] {
	margin-right: 0;
	margin-left: 0;
}

/*
 * Responsive grid styles
 */

.grid-responsive [class*="span"] {
	.span-gutters();
}

// span
.span-width(@n) {
	width: ( (@n * @column-width-px) - @gutter-width-px ) / @gridsystem-width-px * 100%;
}

// span width without a gutter
.span-width-nogutters(@n) {
	width: @n * 100 / @columns * 1%;
}

.span-gutters() {
	margin-right: @gutter-width-half-px / @gridsystem-width-px * 100%;
	margin-left: @gutter-width-half-px / @gridsystem-width-px * 100%;
}

.span-margin-left(@n) {
	margin-left: ( ( (@n * @column-width-px) /  @gridsystem-width-px ) + ( @gutter-width-half-px / @gridsystem-width-px ) ) * 100%;
}

@gutter-value: @gutter-width-half-px / @gridsystem-width-px * 100%;

.span-margin-top() {
	margin-top: @gutter-value;
}

.span-margin-bottom() {
	margin-bottom: @gutter-value;
}


// Output span classes for each column width
.spann (@n) when (@n =< @columns) {
	.grid-responsive .span-@{n} {
		.span-width(@n);
	}
	.spann(@n + 1);
}
.spann(1);

// Output span classes with no margin for each column
.spann-nogutters (@n) when (@n =< @columns) {
	.grid-responsive .span-nogutters-@{n} {
		.span-width-nogutters(@n);
	}
	.spann-nogutters(@n + 1);
}
.spann-nogutters(1);


// Offset
// need a pull? to go along with push
@colless: @columns - 1;
.offsetn (@n) when (@n =< @colless) {
	.grid-responsive .offset-@{n} {
		.span-margin-left(@n);
	}
	.offsetn(@n + 1);
}
.offsetn(1);

.offset(@n) {
	.span-margin-left(@n);
}
.offset-nogutters(@n) {
	margin-left: @n * 100 / @columns * 1%;
}

// Setup function for when apply styles directly to rule (typically in media queries)
.applyspan(@n,@columns:@columns) {
	display: block;
	float: left;
	.span-gutters();
	.span-width(@n);
	.clearfixit;
}

.applyspan-nogutters(@n,@columns:@columns) {
	display: block;
	float: left;
	.span-width-nogutters(@n);
	.clearfixit;
}

.applyrow() {
	width: 100%;
	.clearfixit;
}
