// Quick mixin to make an element font-awesome-able
.makeFontAwesome() {
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

// Optional hyphenation
.hyphens(@mode: auto) {
	word-wrap: break-word;
	-webkit-hyphens: @mode;
	-moz-hyphens: @mode;
	-ms-hyphens: @mode;
	-o-hyphens: @mode;
	hyphens: @mode;
}

// Opacity
.opacity(@opacity) {
	opacity: @opacity;

	// IE8 filter
	zoom: 1;
	@opacity-ie: (@opacity * 100);
	filter: ~"alpha(opacity=@{opacity-ie})";
}


// Gradients
#gradient {
	.horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
		background-image: linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)", argb(@start-color), argb(@end-color))); // IE9 and down
	}

	.vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
		background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", argb(@start-color), argb(@end-color))); // IE9 and down
	}

	.directional(@start-color: #555; @end-color: #333; @deg: 45deg) {
		background-image: linear-gradient(@deg, @start-color, @end-color); // Standard, IE10
		background-repeat: repeat-x;
	}

	.horizontal-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
		background-image: linear-gradient(to right, @start-color, @mid-color @color-stop, @end-color);
		background-repeat: no-repeat;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)", argb(@start-color), argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
	}

	.vertical-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
		background-image: linear-gradient(@start-color, @mid-color @color-stop, @end-color);
		background-repeat: no-repeat;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", argb(@start-color), argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
	}

	.radial(@inner-color: #555; @outer-color: #333) {
		background-image: radial-gradient(circle, @inner-color, @outer-color);
		background-repeat: no-repeat;
	}

	.striped(@color: rgba(255,255,255,.15); @angle: 45deg) {
		background-image: linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
	}
}

// Reset filters for IE
//
// When you need to remove a gradient background, do not forget to use this to reset
// the IE filter for IE9 and below.
.reset-filter() {
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}


// Responsive image
//
// Keep images from scaling beyond the width of their parents.
.img-responsive(@display: block;) {
	display: @display;
	width: 100%;
	// max-width: 100%; // Part 1: Set a maximum relative to the parent
	height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
.img-non-responsive(@display: inline;) {
	display: @display;
	width: auto;
	// max-width: auto;
	height: auto;
}


//for outputting px and then rem values from em value
.pxrem(@prop, @val) {
	@remValue: @val;
	@pxValue: (@val * 16);
	@{prop}: ~"@{pxValue}px";
	@{prop}: ~"@{remValue}rem";
}


// Text overflow
// Requires inline-block or block for proper styling
.text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


// Center-align a block level element
.center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.clearfixit() {
	&::before,
	&::after {
		content: " ";
		display: table;
	}

	&::after {
		clear: both;
	}
}

.clearfix {
	.clearfixit;
}


// ### This is a set of responsive screens
// ### so we can use it in shorthand and naming is easier to understand
// ### To use it:
// .tablet({
// 	.max-width{
// 		max-width: 760px;
// 	}
// });
// .desktopminimum({
// 	.max-width{
// 		max-width: 1000px;
// 	}
// });

@phone-short-height: 30em; //480px
@phone-m-width: 22.5em; //360px
@phone-l-width: 26.563em; //425px
@tablet-width: 48em; //≥ 768px
@desktop-minimum-width: 64em; //≥ 1024px
@laptop-width: 80em; //≥ 1280px
@highres-width: 105em; //≥ 1680px

.phone-short(@rules) {
	@media only screen and (max-height: @phone-short-height) {
		@rules();
	}
}

.phone-m(@rules) {
	@media only screen and (min-width: @phone-m-width) {
		@rules();
	}
}

.phone-l(@rules) {
	@media only screen and (min-width: @phone-l-width) {
		@rules();
	}
}

.tablet(@rules) {
	@media only screen and (min-width: @tablet-width) {
		@rules();
	}
}

.desktopminimum(@rules) {
	@media only screen and (min-width: @desktop-minimum-width) {
		@rules();
	}
}

.laptop(@rules) {
	@media only screen and (min-width: @laptop-width) {
		@rules();
	}
}

.highres(@rules) {
	@media only screen and (min-width: @highres-width) {
		@rules();
	}
}