/*** DEFAULTS ***/

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-size: 100%;
	line-height: 125%;
}

a {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

nav ul,
nav ol,
header ul,
header ol,
.no-list {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}

img {
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}


/*** NON-SEMANTIC HELPER CLASSES ***/

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}


.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


.hidden,
.hide {
	display: none !important;
	visibility: hidden !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
